@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
	font-family: 'Lato', sans-serif;
  --font-color: #e9dfdf;
  --font-destructive: #E05252 ;
  --dark-bg: #111111;
  --darker-bg: #070707;
  --fs-small: 1rem;
  --fs-medium:1.5rem;
  --fs-large: 2rem;
  --fw-bold: 900;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input {
  font-family: inherit;
}

img {
  max-width: 100%;
}

html {
  height: 100%;
  background-color: var(--dark-bg);
  color: var(--font-color)
}





